.Tilt {
    height: 150px;
    width: 250px;
    border-radius: 25% 25%;
    box-shadow: 5px 5px 2px gainsboro;
    background: rgb(63,236,251);
    background: linear-gradient(254deg, rgba(63,236,251,1) 17%, rgba(70,176,252,1) 84%);
}

img {
    padding: 0.8rem;
    font-size: larger;
}